# MySQL
DATABASE_URL=mysql://username:password@host/db_name

# General settings
DJANGO_ADMIN_URL=^admin/
DJANGO_SETTINGS_MODULE=config.settings.production
DJANGO_SECRET_KEY=
DJANGO_ALLOWED_HOSTS=.{{ cookiecutter.domain_name }}

# Cache settings
CACHE_MEMCACHED_SERVERS=
CACHE_MEMCACHED_TIMEOUT=

# Email
EMAIL_BACKEND = "django.core.mail.backends.smtp.EmailBackend"
EMAIL_HOST=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
