# MySQL
DATABASE_URL=mysql://username:password@host/db_name

# General settings
DJANGO_ADMIN_URL=^admin/
DJANGO_SETTINGS_MODULE=config.settings.production
DJANGO_SECRET_KEY=
DJANGO_ALLOWED_HOSTS=.{{ cookiecutter.domain_name }}

# Cache settings
CACHE_URL=memcache://HOST1:PORT1,HOST2:PORT2

# Email
EMAIL_URL=smtp://username:password@host:port
