# MySQL
MySQL_PASSWORD=
MySQL_USER=
DATABASE_URL=

# General settings
DJANGO_ADMIN_URL=
DJANGO_SETTINGS_MODULE=config.settings.production
DJANGO_SECRET_KEY=
DJANGO_ALLOWED_HOSTS=.{{ cookiecutter.domain_name }}

# Cache settings
CACHE_MEMCACHED_SERVERS=
CACHE_MEMCACHED_TIMEOUT=
